<nav class="navbar navbar-expand-lg navbar-light " style="background-color: rgb(220 220 220);">
  <div class="container">
  <h2>Lock-In-Learn</h2>
    <button 
        class="navbar-toggler ms-auto"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbar-collapse"
        aria-controls="navbar"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse content" id="navbar-collapse">
        <ul class="navbar-nav mr-auto">
		<li class="nav-item">
            <a class="nav-link" href="/calendar">Calendar</a>
		</li>
        <li class="nav-item">
            <a class="nav-link" href="/message-board">Board</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
        </li>
		<li class="nav-item">
			<a class="nav-link" href="/logout">Logout</a>
		</li>
        </ul>
    </div>
    </nav>
  </div>