{{#each post_data}}
<div class="post">
	<h4>{{ title }}</h4>
	<p class="username">By: {{ username }}</p>
	<p>{{ message }}</p>
	
	<!--
	<form>
		<input id="reply" name="reply" type="text" placeholder="reply...">
		<input type="submit" value="REPLY">
	</form>
	-->
</div>
{{/each}}