<!DOCTYPE html>
<html lang='en'>
  <head>
    {{> events}}
  </head>
  <body>
    <div id='calendar'></div>

	<div class="modal" id="addEventModal" tabindex="-1" style="display:none;">
		<div class="modal-dialog">
			<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add Event</h5>
			</div>
			<div class="modal-body">
				<form id="eventForm">
					<label for="title">Event Title:</label><br>
					<input type="text" name="title" placeholder="Title of event" required> <br><br>

					<label for="date">Date:</label><br>
					<input type="date" name="date" placeholder="Format YYYY-MM-DD" required> <br><br>
					
					<label for="allDay">All Day:</label><br>
					<input type="checkbox" id="allDayCheckbox" name="allDay" value="true" checked> <br><br>
					
					<div id="timeInputContainer" style="display: none;">
						<label for="time">Time:</label><br>
						<input type="time" name="time"> <br><br>
					</div>
					
					<label for="description">Description:</label><br>
					<input type="text" name="description" placeholder="Description" required> <br><br>	
				</form>
			</div>
			<div class="modal-footer">
				<button id="close-modal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button id="submit-form" type="submit" class="btn btn-primary">Add Event</button>
			</div>
			</div>
		</div>
	</div>
  </body>
  {{> footer}}
</html>