<div class="container text-center mt-5" style="font-family:fantasy;">
    <h1 style="font-size: 80px;">LOCK IN LEARN</h1>
    <p>The service for you to manage your tasks & assignments.</p>
</div>

<div class="card mx-5 mt-3 pt-3 text-center" style="background-color: rgb(196 193 195); border: outset 5px;">
    <h1 class="col">Login</h1>
    <form class="col" action="/login" method="post">
        <label for="username">Username</label> <br>
        <input type="text" name="username"><br><br>
        <label for="passworc">Password</label> <br>
        <input type="text" name="password"><br><br>
        <input type="submit" value="Login"></input>
        <p>Don't have an account? 
            <a href="/register">Register</a>
        </p>
    </form>
</div>