<div>
	<form action="/register" method="POST">
		<input type="text" name="username" placeholder="username"><br>
		<input type="text" name = "email" placeholder="email"><br>
		<input type="password" name="password" placeholder="password"><br>
		<input type="submit" value="REGISTER">
	</form>
	<p>Already have an account? 
            <a href="/login">Login</a>
    </p>
</div>