<div>
	<form action="register" method="POST">
		<input type="text" placeholder="username"><br>
		
		<input type="text" placeholder="email"><br>
		
		<input type="password" placeholder="password"><br>
		
		<input type="submit"><br>

	</form>

<div>